{% extends 'accounts/index.html'%} 
{% block content %}
<br>
<br>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-body">
          <div class="card-title"><h5>Customer</h5></div>
          <table class='table'>
            <tr>
              <a class="btn btn-outline-primary btn-lg btn-block" href="">Update Customer</a>
              </tr>
              <tr>
                <a class="btn btn-outline-primary  btn-lg btn-block" href="{% url 'create_order' customer.id %}">Place New Order</a>
              </tr>
          </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-body">
        <div class="card-title"><h5>Contact Information</h5>
        <table class="table">
          <tr>
          <th><h6>Email:</h6></th>
          <td>{{customer.email}}</td>
        </tr>
        <tr>
          <th><h6>Phone:</h6></th>
          <td>{{customer.phone}}</td>
        </tr>
        </table>
      </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card card-body">
        <div class="card-title"><h5>Total Orders</h5></div>
        <table class="table">
          <tr>{{order_count}}</tr>
        </table>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
   <div class="card card-body">
    <form action="" method="get">
      <button class="btn btn-primary"href="" type="submit">Search</button>
    </form>
   </div>
  </div>
  <div class="row">
    <div class="card card-body">
      <table class="table">
        <tr>
          <th>Product</th>
          <th>Category</th>
          <th>Date Ordered</th>
          <th>Status</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>
        
        {% for i in orders%}
        <tr>
        <td>{{i.product}}</td>
        <td>{{i.product.category}}</td>
        <td>{{i.date_created}}</td>
        <td>{{i.status}}</td>
        <td><a href="{% url 'update_order' i.id%}" class="btn btn-primary">Update</a></td>
        <td><a href="{% url 'delete_order' i.id%}" class="btn btn-danger">Remove</a></td>
      </tr>
        {%endfor%}
      
      </table>
    </div>
  </div>
  {% endblock%}
</accounts>